@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
text-align: center;
font-family: 'Roboto', sans-serif;
background-image: url('images/backgornd.jpeg');
}
.img {
  border-radius: 5px;
}
.btn{
    display: inline-block;
    color: blue;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 1);
}

.btn:hover{
    background-color: #fffff;
/*  opacity: 0.9; */
}

.btn-rounded{
    border-radius: 5px;
}
